@import 'mixins';

.computers {
    width: 100%;
    color: white;
    text-align: center;
    margin: 100px 0px 50px 0px;
    &_wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &-item {
            margin: 10px 10px 30px 10px;
            transition: all 0.3s ease;
            img {
                width: 300px;
                border-radius: 3px;
                border: 2px rgba(255, 255, 255, 0.37) solid;
                cursor: pointer;
            }
            figcaption {
                margin-top: 20px;
                font-size: 25px;
            }
            span {
                opacity: 0;
                transition: all 0.3s ease;
                @include br(md) {
                    opacity: 1;
                }
            }
            &:hover {
                transform: scale(1.1);
                transition: all 0.3s ease;
                span {
                    opacity: 1;
                    transition: all 0.3s ease;
                }
            }
        }
    }   
}